* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

a:hover, 
a:active {
    text-decoration: underline;
}

html,
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
	font-size: small;
}

body {
	background: #fff;
	color: #222;
	font-family: arial,sans-serif;
}



/*NAVIGATION*/
header {
	display: flex;
	height: 60px;
	align-items: center;
	justify-content: space-between;
}

.nav-box-left {
	display: flex;
	flex-basis: 10%;
	justify-content: space-evenly;
}

.nav-box-right {
	display: flex;
	flex-basis: 17%;
	padding-right: 10px;
	justify-content: space-evenly;
}




/*LOGO*/
.logo-container {
	display: flex;
	height: 210px;
	justify-content: center;
  	align-items: center;
  	margin-top: 80px;
}

.logo-container img {
	height: 100%;
	width: 330px;
}



/*SEARCH*/
.search-container {
	background: #fff;
	display: flex;
	align-items: center;
	border-radius: 8px;
	border: 1px solid #dfe1e5;
	box-shadow: none;
	border-radius: 24px;
	z-index: 3;
	height: 44px;
	width: 582px;
	margin: -25px auto;
	position: relative;
}

.search-container img {
	width: 35px;
	height: 15px;
	padding-left: 10px;
}

.search-container input {
	background-color: transparent;
	border: none;
	font: 16px arial,sans-serif;
	line-height: 34px;
	height: 34px !important;
	padding-left: 15px;
	flex-basis: 92%;
}




/*BUTTONS*/
.button-container {
	display: flex;
	justify-content: center;
	margin-top: 55px;
}

.button-container button {
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
	border-radius: 4px;
	color: #5F6368;
	font-family: arial,sans-serif;
	font-size: 14px;
	margin: 0 5px;
	padding: 0 16px;
	line-height: 27px;
	height: 36px;
	min-width: 54px;
}

button:hover {
	box-shadow: 0 1px 1px
	rgba(0,0,0,0.1);
	background-image: background-image: -webkit-linear-gradient(#f8f8f8, #f1f1f1);
	background-image: background-image: -o-linear-gradient(#f8f8f8, #f1f1f1);
	background-image: background-image: linear-gradient(#f8f8f8, #f1f1f1);
	background-color: #f8f8f8;
	border: 1px solid #c6c6c6;
}

button::-moz-focus-inner {
    border: 0;
}



/*NEWS*/
.news-container {
	display: flex;
	justify-content: center;
	margin-top: 23px;
}



/*FOOTER*/
footer {
	display: flex;
	height: 42px;
	align-items: center;
	justify-content: space-between;
	margin: auto auto 0 auto;
	width: 100%;
	background-color: rgb(242, 242, 242)
}

.footer-box-left {
	display: flex;
	flex-basis: 25%;
	justify-content: space-evenly;
}

.footer-box-right {
	display: flex;
	flex-basis: 17%;
	padding-right: 10px;
	justify-content: space-evenly;
}