* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	margin: 0;
	font-size: small;
}

body {
	background: #fff;
	color: #222;
	font-family: arial,sans-serif;
}

.logo-container {
	display: flex;
	height: 210px;
	justify-content: center;
  	align-items: center;
  	margin-top: 130px;
}

.logo-container img {
	height: 100%;
	width: 330px;
}

.search-container {
	background: #fff;
	display: flex;
	align-items: center;
	border-radius: 8px;
	border: 1px solid #dfe1e5;
	box-shadow: none;
	border-radius: 24px;
	z-index: 3;
	height: 44px;
	width: 582px;
	margin: -20px auto;
	position: relative;
}

.search-container img {
	width: 35px;
	height: 15px;
	padding-left: 10px;
}

.search-container input {
	background-color: transparent;
	border: none;
	font: 16px arial,sans-serif;
	line-height: 34px;
	height: 34px !important;
	padding-left: 15px;
	flex-basis: 92%;
}